
.display-container p{
    color: black;
}
.display-container span{
    color: dodgerblue;
    font-weight: bolder;
}
.display-content-container{
    padding: 1rem;
}
.display-content-container p{
    margin-bottom: 1rem;
}

.display-img-container{
    padding: 1rem;
    width: 30vw;
    height: auto;
}
.display-container img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 800px) {

    .display-img-container{
        width: 100%;
        height: auto;
    }
    .display-container{
        margin-top: 3.5rem;
        padding: 0rem;

    }
    

}